@charset "ISO-8859-1";
/* class selector */
.centered {
    text-align: center;
}
.largefont {
    font-size: large;
    background-color: pink;
    color: blue;
}

.mediumfont{
    font-size: medium;
}

.smallfont {
    font-size: small;
}
.reddiv {
color: red;
}
/* type selector  */
div > p {
    color: brown;
    font-size: large;
}
/* id selector */
#div1 {
    color: green;
    font-size: larger;
    text-align: left;
}
/* pseudo selector */
div:first-child {
    color: yellow;
    font-size: large;
}
div:last-child {
    color: cyan;
    font-size: large;
}
div:nth-child(even) {
    color: brown;
    font-size: large;
}
div:nth-child(odd) {
    color: orange;
    font-size: large;
}
div:nth-child(3n+1) {
    color: cyan;
    font-size: large;
}
/* type selector and pseudo selector for link */
a {
    color: lime;
    text-decoration: none;
}
a:hover {
    color: red;
    text-decoration: underline;
}
/* #chennai {
	color: pink;
}
#madurai {
	color: yellow;
}
#coimbatore {
	color: green;
} */
/* Attribute selector */
/* a[href="http://www.chennai.nic.in"] {
	color: blue;
}
a[href="http://www.madurai.nic.in"] {
	color: gray;
}
a[href="http://www.coimbatore.nic.in"] {
	color: purple;
} */
input[id="fname"]{
	color: pink;
	background-color: blue;
}
a[href*="chennai.nic"] {
	color: blue;
}
a[href*="madurai.nic"] {
	color: gray;
}
a[href*="coimbatore.nic"] {
	color: purple;
}